@import "./../utilities/utilities";

.lz-alert {
    padding: 15px;
    text-align: left;
    box-shadow: $box-shadow;
    border-radius: $radius;
    font-family: $font-regular;
    color: #333;

    &--brand {
        background-color: var(--brand);
        color: #f1f1f1;
    }

    &--contrast {
        background-color: var(--contrast);
        color: #f1f1f1;
    }

    &--red {
        background-color: var(--red--opacity);
        color: var(--red);
        .lz-btn--icon {
            color: var(--red);
        }
    }

    &--green {
        background-color: var(--green--opacity);
        color: var(--green);
        .lz-btn--icon {
            color: var(--green);
        }
    }

    &--yellow {
        background-color: var(--yellow--opacity);
        color: var(--yellow);
        .lz-btn--icon {
            color: var(--yellow);
        }
    }

    &--blue {
        background-color: var(--blue--opacity);
        color: var(--blue);
        .lz-btn--icon {
            color: var(--blue);
        }
    }

    &--action {
        @include between;
        padding: 10px 15px;
    }

    .lz-alert-icon {
        margin-right: 15px;
    }
}
