@import "./../utilities/utilities";

button {
    .lz-badge {
        margin-left: 5px;
    }
}

.lz-badge {
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $radius;
    border: none;
    padding: 2px 4px;
    color: var(--color);
    transition: all $animation;

    &--brand {
        background-color: var(--brand);
        color: #fff;
    }

    &--contrast {
        background-color: var(--contrast);
        color: #fff;
    }

    &--red {
        background-color: var(--red--opacity);
        color: var(--red);
    }

    &--green {
        background-color: var(--green--opacity);
        color: var(--green);
    }
    
    &--yellow {
        background-color: var(--yellow--opacity);
        color: var(--yellow);
    }

    &--blue {
        background-color: var(--blue--opacity);
        color: var(--blue);
    }

    &--info {
        background-color: var(--info);
        color: #fff;
    }

    &--news {
        background-color: var(--news);
        color: #fff;
    }

    &--emphasis {
        background-color: var(--emphasis);
        color: #fff;
    }
}
