@import "./../utilities/utilities";

button {
    .lz-badge {
        margin-left: 5px;
    }
}

.lz-badge {
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $radius;
    border: none;
    padding: 2px 4px;
    color: var(--color);
    transition: all $animation;

    &--brand {
        background-color: var(--brand);
        border: 1px solid var(--brand);
    }

    &--contrast {
        background-color: var(--contrast);
        border: 1px solid var(--contrast);
    }

    &--red {
        background-color: var(--red);
        border: 1px solid var(--red);
    }

    &--green {
        background-color: var(--green);
        border: 1px solid var(--green);
    }
    
    &--yellow {
        background-color: var(--yellow);
        border: 1px solid var(--yellow);
    }

    &--blue {
        background-color: var(--blue);
        border: 1px solid var(--blue);
    }

    &--info {
        background-color: var(--info);
        border: 1px solid var(--info);
    }

    &--news {
        background-color: var(--news);
        border: 1px solid var(--news);
    }
}
