@import './../utilities/utilities';

.lz-breadcrumb {
    font-weight: $font-weight-light;
    color: var(--text);
    font-size: $font-x-large;
    transition: all $animation;
    cursor: pointer;

    &:last-child {
        color: var(--emphasis);
        cursor: default;
    }
}