@import "./../utilities/utilities";

.lz-btn {
    border-radius: $radius;
    padding: 10px;
    border: 1px solid transparent;
    outline: none;
    transition: all $animation;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    &--solid {
        background-color: var(--brand);
        border: 1px solid var(--brand);
        color: white;

        &:hover {
            color: var(--brand);
        }
    }

    &--outline {
        background-color: transparent;
        border: 1px solid var(--brand);
        color: var(--brand);
    }

    &--no-stroke {
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--brand);
    }
}

.lz-btn.lz-btn--mr:nth-child(n) {
    margin-right: $distance;
}
