@import "./../utilities/utilities";

.lz-btn {
    border-radius: $radius;
    padding: 10px;
    border: 1px solid transparent;
    outline: none;
    transition: all $animation;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    min-width: 100px;
    box-shadow: $box-shadow;
    color: white;

    &--responsive {
        @include for-small-tablet {
            width: 100%;
        }
    }

    &--block {
        width: 100%;
    }

    &--large {
        font-size: 16px !important;
        min-width: 150px;
    }

    &--small {
        font-size: 10px !important;
    }

    &:disabled {
        background: var(--background--disabled) !important;
        color: var(--text--disabled) !important;
        border: 1px solid var(--background--disabled);
        cursor: not-allowed !important;
    }

    &--align {
        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }

    &--icon {
        padding: 2px;
        min-width: 0px;
        font-size: 1.5rem;
        color: var(--text--disabled);
        transition: all $animation;

        &--no-shadow {
            box-shadow: none;
        }
    }

    &--default {
        &--no-stroke {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
        }
    }

    &--brand {
        background-color: var(--brand);
        border: 1px solid var(--brand);

        &--no-stroke {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            color: var(--brand);
        }

        &--outline {
            background-color: transparent;
            box-shadow: none;
            border: 1px solid var(--brand);
            color: var(--brand);
        }
    }

    &--contrast {
        background-color: var(--contrast);
        border: 1px solid var(--contrast);

        &--no-stroke {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            color: var(--contrast);
        }

        &--outline {
            background-color: transparent;
            box-shadow: none;
            border: 1px solid var(--contrast);
            color: var(--contrast);
        }
    }

    &--red {
        background-color: var(--red);
        border: 1px solid var(--red);

        &--no-stroke {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            color: var(--red);
        }

        &--outline {
            background-color: transparent;
            box-shadow: none;
            border: 1px solid var(--red);
            color: var(--red);
        }
    }

    &--green {
        background-color: var(--green);
        border: 1px solid var(--green);

        &--no-stroke {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            color: var(--green);
        }

        &--outline {
            background-color: transparent;
            box-shadow: none;
            border: 1px solid var(--green);
            color: var(--green);
        }
    }

    &--yellow {
        background-color: var(--yellow);
        border: 1px solid var(--yellow);

        &--no-stroke {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            color: var(--yellow);
        }

        &--outline {
            background-color: transparent;
            box-shadow: none;
            border: 1px solid var(--yellow);
            color: var(--yellow);
        }
    }

    &--blue {
        background-color: var(--blue);
        border: 1px solid var(--blue);

        &--no-stroke {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            color: var(--blue);
        }

        &--outline {
            background-color: transparent;
            box-shadow: none;
            border: 1px solid var(--blue);
            color: var(--blue);
        }
    }

    &--social {
        &--facebook {
            background-color: var(--facebook);
            border: 1px solid var(--facebook);
        }
    }
}

.lz-btn.lz-btn--mr:nth-child(n) {
    margin-right: $distance;
}
