@import './../utilities/utilities';

.lz-card {
    font-family: $font-regular;
    background-color: var(--color);
    transition: all $animation;
    box-shadow: $box-shadow;
    border-radius: $radius;
    position: relative;

    &-alert {
        padding: $distance;

        &-container {
            padding: $distance;
            background-color: yellowgreen;
        }
    }

    &-header {
        background-color: var(--background--disabled);
        color: var(--text);
        padding: $distance;
        border-radius: $radius $radius 0px 0px;
        transition: all $animation;
    }

    &-body {
        background-color: var(--color);
        color: var(--text);
        padding: $distance;
        border-radius: $radius;
        transition: all $animation;

        &--no-padding {
            padding: 0px;
        }

        &--grid {
            @include grid(32, $distance);

            @include for-tablet {
                display: block;
            }

            &-left {
                @include grid-column-span(8);

                &-title {
                    font-size: $font-medium;
                    color: var(--text);
                }

                &-subscription {
                    font-family: $font-light;
                    font-size: $font-small;
                    color: var(--emphasis);
                }
            }

            &-right {
                @include grid-column-span(24);
            }
        }
    }

    &-footer {
        border-top: 2px solid rgba(var(--rgb), .7);
        color: var(--text);
        padding: $distance;
        border-radius: $radius $radius 0px 0px;
        transition: all $animation;
    }
}