@import "./../utilities/utilities";

.lz-dropdown {
    position: relative;
    width: fit-content;

    &-header {
        width: max-content;
        z-index: 10;
    }

    &-body {
        position: absolute;
        width: max-content;
        min-width: 200px;
        background-color: transparent;
        @include z-index('sky');

        &--right {
            right: 0 !important;
        }

        &--left {
            left: 0 !important;
        }
    }

    &-btn {
        @include start;
        position: relative;
        list-style: none;
        text-align: left;
        font-size: 14px;
        color: var(--text);
        background-color: transparent;
        padding: 10px;
        text-transform: uppercase;
        cursor: pointer;

        &--disabled {
            @include center;
            background: var(--background--disabled) !important;
            color: var(--text--disabled) !important;
            cursor: not-allowed !important;
            height: 34px;
        }

        &--red {
            color: var(--red);
        }

        i {
            margin-right: 5px;
        }
    }
}
