@import "./../utilities/utilities";

.lz-container-field {
    position: relative;
    margin-bottom: calc(#{$distance} * 2);

    .lz-label {
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: var(--text);
    }

    .lz-field {
        @include start();
        border: 1px solid var(--background--disabled);
        height: 37px;
        padding-left: $distance;
        padding-right: $distance;
        border-radius: 4px;
        background: var(--color);

        &--invalid {
            border: 1px solid var(--red);
        }

        &--disabled {
            background: var(--background--disabled);
            cursor: no-drop;
        }

        input {
            border: none;
            width: 100%;
            outline: none;
            background: var(--color);
            color: var(--text);

            &:disabled {
                background: var(--background--disabled);
                cursor: no-drop;
            }
        }

        .lz-icon {
            margin-left: 10px;
        }
    }

    .lz-feedback-error {
        font-size: 12px;
        position: absolute;
        transition: all 0.2s;
        left: 15px;
        bottom: -10px;
        @include z-index("floor");
        opacity: 0;

        &--active {
            bottom: -20px;
            opacity: 1;
        }

        span {
            color: var(--red) !important;
        }
    }
}
