@import "./../utilities/utilities";

.lz-item {
    margin: 0 0 $distance 0;

    &--delimiter {
        border-bottom: 1px solid var(--emphasis--opacity);
        padding-bottom: $distance;
    }

    &--no-margin {
        margin: 0;
    }

    &-label {
        color: var(--emphasis);
    }

    &-value {
        margin: 0px;
        margin-top: 5px;
        font-size: 14px;
    }
}
