@import "./../utilities/utilities";

.lz-nav {
    position: relative;
    background-color: var(--color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    @include start;
    padding: $distance;
    transition: all $animation;

    &-content {
        @include between;
        width: 100%;

        &-left {
            @include start;

            @include for-small-tablet {
                margin: 0;
            }

            &-button-menu {
                display: none;
            }

            &-name {
                @include start;
                cursor: pointer;
            }

            &-badge {
                position: absolute;
                top: 0;
            }
        }

        &-right {
            @include end;

            .lz-signal-notification {
                width: 7px;
                height: 7px;
                border-radius: 100px;
                padding: 1px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: var(--warning);
                animation: pulse-yellow 2s infinite;
            }

            .lz-nav-buttons {
                margin: 0px;
                padding: 0px;
                list-style: none;

                .lz-nav-button {
                    @include between;
                    cursor: pointer;
                    padding-bottom: 15px;

                    &:last-child {
                        padding: 0px;
                    }

                    &--siginout {
                        color: var(--danger);
                    }
                }
            }

            .lz-nav-notification {
                list-style-type: none;
                padding-inline-start: 0px;
                margin-block-end: 0px;
                margin-block-start: 0px;

                &-item {
                    padding: 15px 0px;
                    border-bottom: 1px solid rgba(var(--rgb), 0.7);
                    max-width: 350px;
                    position: relative;
                    cursor: pointer;

                    &-icon {
                        @include center;
                        max-width: fit-content;
                        max-height: fit-content;
                        border-radius: 100px;
                        padding: 10px;
                        margin-right: 10px;
                        background-color: var(--emphasis--opacity);
                
                        &--unread {
                            animation: pulse-yellow 2s infinite;
                            background-color: var(--warning);
                        }
                
                        i {
                            color: #333;
                        }
                    }
                
                    &-time {
                        position: absolute;
                        top: 5px;
                        right: 0;
                        font-size: 10px;
                        color: var(--text--disabled);
                    }
                }
            }
        }
    }
}

.lz-menu-mobile-overlay {
    font-family: $font-regular;
    color: var(--text);
    width: 100%;
    height: 100vh;
    padding: 15px;
    position: fixed;
    top: 0;
    background: rgba(var(--rgb), 0.8);
    z-index: 100;
    overflow: hidden;

    .lz-menu-mobile-close {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 15px 0px;
    }

    .lz-menu-mobile-card-overlay {
        width: 100%;
        border-radius: 4px;

        .lz-menu-mobile-card-overlay-item {
            padding: 15px;
            cursor: pointer;
            background-color: var(--color);

            &--active {
                color: var(--brand);
            }
        }
    }
}
