@import "./../utilities/utilities";

.lz-side-nav {
    width: 250px;
    min-height: calc(100vh - #{$header-height});
    height: 100%;
    background-color: var(--color);
    box-shadow: $box-shadow;
    transition: all $animation;
    padding-top: $distance;

    button {
        &.lz-btn-side-nav {
            @include between;
            width: 100%;
            height: 40px;
            color: var(--emphasis);
            background-color: transparent;
            border: none;
            border-left: 6px solid transparent;
            font-size: 16px;
            cursor: pointer;
            text-align: left;
            transition: all $animation;
            outline: none;
            padding-right: 10px;        

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
                border-left: 6px solid rgba(0, 0, 0, 0.1);
            }

            &--active {
                color: var(--brand);
            }
        }
    }

    .lz-side-nav-container {
        ul.lz-btn-side-nav-list {
            padding-inline-start: 17px;
            margin: 0px;
            overflow: hidden;

            li.lz-btn-side-nav-list-item {
                @include between;
                font-family: $font-regular;
                padding: 10px;
                list-style: inside;
                list-style-type: none;
                cursor: pointer;
                transition: all $animation;
                color: var(--text);
                outline: none;
                border-left: 3px solid rgba(0, 0, 0, 0.08);

                &--active {
                    border-left: 3px solid var(--brand);
                }
            }
        }
    }
}

.lz-side-nav-content {
    position: sticky;
    top: 15px;
    display: block;
}
