@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--red-rgb), 0.7);
        -moz-box-shadow: 0 0 0 0 rgba(var(--red-rgb), 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(var(--red-rgb), 0);
        -moz-box-shadow: 0 0 0 0 rgba(var(--red-rgb), 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--red-rgb), 0);
        -moz-box-shadow: 0 0 0 0 rgba(var(--red-rgb), 0);
    }
}

@keyframes pulse-yellow {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0.7);
        -moz-box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(var(--yellow-rgb), 0);
        -moz-box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0);
        -moz-box-shadow: 0 0 0 0 rgba(var(--yellow-rgb), 0);
    }
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--blue-rgb), 0.7);
        -moz-box-shadow: 0 0 0 0 rgba(var(--blue-rgb), 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(var(--blue-rgb), 0);
        -moz-box-shadow: 0 0 0 0 rgba(var(--blue-rgb), 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--blue-rgb), 0);
        -moz-box-shadow: 0 0 0 0 rgba(var(--blue-rgb), 0);
    }
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--green-rgb), 0.7);
        -moz-box-shadow: 0 0 0 0 rgba(var(--green-rgb), 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(var(--green-rgb), 0);
        -moz-box-shadow: 0 0 0 0 rgba(var(--green-rgb), 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--green-rgb), 0);
        -moz-box-shadow: 0 0 0 0 rgba(var(--green-rgb), 0);
    }
}
