// COLOR
.lz-color-clear {
    color: var(--brand);
}

.lz-color-contrast {
    color: var(--contrast);
}

.lz-color-red {
    color: var(--red);
}

.lz-color-green {
    color: var(--green);
}

.lz-color-yellow {
    color: var(--yellow);
}

.lz-color-blue {
    color: var(--blue);
}

// BACKGROUND
.lz-background-brand {
    background: var(--brand);
}

.lz-background-contrast {
    background: var(--contrast);
}

.lz-background-red {
    background: var(--red);
}

.lz-background-green {
    background: var(--green);
}

.lz-background-yellow {
    background: var(--yellow);
}

.lz-background-blue {
    background: var(--blue);
}

