// COLOR

.lz-color {
    color: var(--color) !important;
}

.lz-color-brand {
    color: var(--brand) !important;
}

.lz-color-contrast {
    color: var(--contrast) !important;
}

.lz-color-red {
    color: var(--red) !important;
}

.lz-color-green {
    color: var(--green) !important;
}

.lz-color-yellow {
    color: var(--yellow) !important;
}

.lz-color-blue {
    color: var(--blue) !important;
}

.lz-color-white {
    color: #fff !important;
}

.lz-color-text {
    color: var(--text) !important;
}

.lz-color-emphasis {
    color: var(--emphasis) !important;
}

// BACKGROUND
.lz-background-brand {
    background: var(--brand) !important;
}

.lz-background-contrast {
    background: var(--contrast) !important;
}

.lz-background-red {
    background: var(--red) !important;
}

.lz-background-green {
    background: var(--green) !important;
}

.lz-background-yellow {
    background: var(--yellow) !important;
}

.lz-background-blue {
    background: var(--blue) !important;
}

.lz-background-text {
    background: var(--text) !important;
}

.lz-background-emphasis {
    background: var(--emphasis) !important;
}

.lz-background {
    background: var(--color) !important;
}