@import "./../utilities/utilities";

.lz-display-small-mobile {
    &-show {
        @include for-small-mobile {
            display: initial !important;
        }
    }

    &-hide {
        @include for-small-mobile {
            display: none !important;
        }
    }
}

.lz-display-mobile {
    &-show {
        @include for-mobile {
            display: initial !important;
        }
    }

    &-hide {
        @include for-mobile {
            display: none !important;
        }
    }
}

.lz-display-small-tablet {
    &-show {
        @include for-small-tablet {
            display: initial !important;
        }
    }

    &-hide {
        @include for-small-tablet {
            display: none !important;
        }
    }
}

.lz-display-tablet {
    &-show {
        @include for-tablet {
            display: initial !important;
        }
    }

    &-hide {
        @include for-tablet {
            display: none !important;
        }
    }
}

.lz-display-small-desktop {
    &-show {
        @include for-small-desktop {
            display: initial !important;
        }
    }

    &-hide {
        @include for-small-desktop {
            display: none !important;
        }
    }
}

.lz-display-desktop {
    &-show {
        @include for-desktop {
            display: initial !important;
        }
    }

    &-hide {
        @include for-desktop {
            display: none !important;
        }
    }
}

.lz-display-big-desktop {
    &-show {
        @include for-big-desktop {
            display: initial !important;
        }
    }

    &-hide {
        @include for-big-desktop {
            display: none !important;
        }
    }
}

// FLEX
.lz-display-flex-center {
    @include center;
}

.lz-display-flex-end {
    @include end;
}

.lz-display-flex-start {
    @include start;
}

.lz-display-flex-between {
    @include between;
}

// JUSTIFY-CONTENT
.lz-justify-baseline {
    align-items: baseline;
}

.lz-justify-flex-end {
    align-items: flex-end;
}

.lz-justify-flex-start {
    align-items: flex-start;
}

.lz-justify-center {
    align-items: center;
}
