@import "./../utilities/utilities";

.lz-padding {
    padding: $distance;

    &--2x {
        padding: calc(2 * #{$distance});
    }
}

.lz-padding-right {
    padding-right: $distance;
}

.lz-padding-left {
    padding-left: $distance;
}

.lz-padding-top {
    padding-top: $distance;

    &--2x {
        padding: calc(2 * #{$distance});
    }
}

.lz-padding-bottom {
    padding-bottom: $distance;
}
