@import "./../utilities/utilities";

.lz-alert {
    @include between;
    padding: 15px;
    max-height: 46px;
    width: 100%;
    text-align: left;
    box-shadow: $box-shadow;
    border-radius: $radius;
    font-family: $font-regular;
    transition: all $animation;
    color: #333;
    user-select: none;

    &--danger {
        background-color: var(--danger--opacity);
        color: var(--danger);
        .lz-btn--icon {
            color: var(--danger);
        }
    }

    &--success {
        background-color: var(--success--opacity);
        color: var(--success);
        .lz-btn--icon {
            color: var(--success);
        }
    }

    &--warning {
        background-color: var(--warning--opacity);
        color: var(--warning);
        .lz-btn--icon {
            color: var(--warning);
        }
    }

    &--info {
        background-color: var(--info--opacity);
        color: var(--info);
        .lz-btn--icon {
            color: var(--info);
        }
    }

    .lz-alert-icon {
        margin-right: 15px;
    }
}
