.ci-assign {
    width: 100%;

    &-content {
        width: 100%;
        text-align: center;

        &-item {
            width: 100%;
            span {
                color: var(--emphasis);

                i {
                    color: var(--success);
                }
            }
        }
    }

    .line {
        height: 100%;
        width: 3px;
    }
}
