@import "./../utilities/utilities";

button {
    .ci-badge {
        margin-left: 5px;
    }
}

.ci-badge {
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $radius;
    border: none;
    padding: 2px 4px;
    color: var(--color);
    transition: all $animation;

    &--brand {
        background-color: var(--brand);
        color: #fff;
    }

    &--accent {
        background-color: var(--accent);
        color: #fff;
    }

    &--danger {
        background-color: var(--danger--opacity);
        color: var(--danger);
    }

    &--success {
        background-color: var(--success--opacity);
        color: var(--success);
    }
    
    &--warning {
        background-color: var(--warning--opacity);
        color: var(--warning);
    }

    &--info {
        background-color: var(--info--opacity);
        color: var(--info);
    }

    &--emphasis {
        background-color: var(--emphasis);
        color: #fff;
    }
}
