@import './../utilities/utilities';

.ci-breadcrumb {
    font-weight: $font-weight-light;
    color: var(--text);
    font-size: $font-x-large;
    transition: all $animation;
    cursor: pointer;

    &::after {
        content: "\002215";
        padding: 0px 10px;
    }

    &:last-child {
        color: var(--emphasis);
        cursor: default;

        &::after {
            content: "";
        }
    }
}