@import "./../utilities/utilities";

$dimenssion: 20px;

.lz-container-field {
    &--inline {
        margin-right: 10px;
    }

    .lz-field {
        @include start();
        border: 1px solid var(--background--disabled);
        height: 37px;
        padding-left: $distance;
        padding-right: $distance;
        border-radius: 4px;
        background: var(--color);
        transition: all $animation;
        overflow: hidden;

        &--big {
            height: 62px;

            input[type="text"],
            select {
                font-size: 22px;

                &::after {
                    content: "";
                    width: 0.8em;
                    height: 0.5em;
                    background-color: red;
                    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                }
            }

            @include for-small-tablet {
                input[type="text"] {
                    font-size: 16px;
                }
            }
        }

        &--invalid {
            border: 1px solid var(--danger);
        }

        &--disabled,
        &--read-only {
            background: var(--background--disabled);
            cursor: no-drop;
        }

        input,
        select {
            background: transparent;
            color: var(--text);
            width: 100%;
            border: none;
            outline: none;
            padding: 10px 0px;
            transition: all $animation;

            &:disabled,
            &:read-only {
                background: var(--background--disabled);
                cursor: no-drop;
            }

            &:-internal-autofill-selected {
                -webkit-text-fill-color: var(--text);
            }

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--emphasis--opacity);
                opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: var(--emphasis--opacity);
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: var(--emphasis--opacity);
            }
        }

        select {
            &:read-only {
                background: var(--color);
                cursor: auto;
            }

            &:disabled {
                background: var(--background--disabled) !important;
                cursor: no-drop;
            }
        }

        .lz-icon {
            margin-left: 10px;
            padding: 10px;
            padding-right: 0px;
            color: var(--text);

            &--pointer {
                cursor: pointer;
            }
        }

        .lz-limit {
            font-family: $font-regular;
            color: var(--emphasis--opacity);
            padding-left: $distance;
        }
    }

    .lz-field-file {
        position: relative;

        &-container {
            @include center;
            height: 186px;
            border: 3px dashed var(--emphasis--opacity);
            border-radius: 4px;
            width: 100%;
            position: relative;
            background-color: var(--color);
            transition: all $animation;

            &:hover {
                opacity: 0.75;
            }

            input {
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparent;
                outline: none;
                opacity: 0;
                cursor: pointer;
            }

            .lz-field-file-text {
                font-family: $font-regular;
                text-align: center;
                color: var(--emphasis--opacity);

                i {
                    font-size: 72px;
                }

                &-info {
                    color: var(--emphasis--opacity);
                    font-family: $font-light;
                    margin-bottom: 15px;
                }
            }

            &-info {
                @include center;
                margin-bottom: 15px;

                .lz-field-file-icon {
                    @include center;
                    font-family: $font-regular;
                    width: $dimenssion;
                    max-width: $dimenssion;
                    height: $dimenssion;
                    max-height: $dimenssion;
                    border-radius: 50px;

                    &--success {
                        color: var(--success);
                    }

                    &--error {
                        color: var(--danger);
                    }
                }

                .lz-field-file-info {
                    margin-left: 10px;

                    &-name {
                        color: var(--emphasis--opacity);
                        font-family: $font-light;
                    }

                    &-size {
                        color: var(--emphasis--opacity);
                        font-family: $font-light;
                    }
                }
            }
        }

        &-form-group {
            @include between;
            align-items: flex-end;

            &-input {
                width: 100%;
                margin-right: $distance;
            }

            label {
                font-size: 13.333px;
            }
        }

        .lz-progress {
            position: relative;
            padding: 5px;
            height: 5px;
            border-radius: $radius;
            background-color: var(--emphasis);
            overflow: hidden;

            .lz-content {
                position: absolute;
                height: 100%;
                width: 30%;
                top: 0;
                left: 0;
                background-color: var(--accent);
                border-radius: $radius;
                transition: all $animation;
            }
        }
    }

    .lz-radio {
        @include between;
        width: 100%;

        input[type="radio"] {
            &:checked,
            &:not(:checked) {
                position: absolute;
                left: -9999px;
            }

            &:checked + label,
            &:not(:checked) + label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;
            }

            &:checked + label:before,
            &:not(:checked) + label:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid var(--text--disabled);
                border-radius: 100%;
                background: white;
            }

            &:checked + label:after,
            &:not(:checked) + label:after {
                content: "";
                width: 12px;
                height: 12px;
                background: var(--brand);
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all $animation;
                transition: all $animation;
            }

            &:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            &:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            &:disabled + label {
                cursor: not-allowed;
                color: var(--text--disabled);
            }

            &:disabled + label:before {
                cursor: not-allowed;
                background: var(--background--disabled);
            }

            &:disabled:checked + label:after {
                background: var(--text--disabled);
            }

            label {
                width: 100%;
            }
        }

        &-complement {
            width: 100%;
            cursor: pointer;
        }

        &-input {
            @include end;
        }
    }

    .lz-checkbox {
        input[type="checkbox"] {
            &:not(:checked),
            &:checked {
                position: absolute;
                left: 0;
                opacity: 0.01;
            }

            &:not(:checked) + label,
            &:checked + label {
                position: relative;
                padding-left: 1.5em;
                padding-top: 3px;
                font-size: 1.05em;
                line-height: 1.7;
                cursor: pointer;
            }

            &:not(:checked) + label:before,
            &:checked + label:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #aaa;
                background: #fff;
                border-radius: 0.2em;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
                -webkit-transition: all 0.275s;
                transition: all 0.275s;
            }

            &:not(:checked) + label:after,
            &:checked + label:after {
                content: "\2714";
                position: absolute;
                top: 0.65em;
                left: 0.18em;
                font-size: 1em;
                color: var(--brand);
                line-height: 0;
                -webkit-transition: all $animation;
                transition: all $animation;
            }

            &:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            &:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            &:disabled:not(:checked) + label:before,
            &:disabled:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #e9e9e9;
            }

            &:disabled:checked + label:after {
                color: #777;
            }

            &:disabled + label {
                color: #aaa;
            }
        }
    }

    .lz-switch {
        &--disabled {
            label {
                cursor: no-drop !important;
                opacity: 0.7;
            }
            label:active:after {
                width: 20px !important;
            }
        }

        input[type="checkbox"] {
            height: 0;
            width: 0;
            display: none;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 40px;
            height: 20px;
            background: var(--emphasis);
            display: block;
            border-radius: 100px;
            position: relative;
        }

        label:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px;
            height: 16px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
        }

        input:checked + label {
            background: var(--success);
        }

        input:checked + label:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }

        label:active:after {
            width: 22px;
        }
    }
}

.lz-container-field-group,
.lz-container-field {
    position: relative;
    margin-bottom: calc(#{$distance} * 2);

    &--no-margin {
        margin: 0;

        &--force {
            margin: 0 !important;
        }

        @include for-small-tablet {
            margin-bottom: calc(#{$distance} * 2);
        }
    }

    .lz-label {
        font-size: 0.75rem;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: var(--text);
        font-family: $font-regular;
        position: relative;

        &--required::after {
            content: "\0025CF";
            color: var(--danger);
            position: absolute;
            bottom: 2px;
            font-size: 10px;
            margin-left: 5px;
        }
    }

    .lz-feedback {
        font-size: 12px;
        transition: all $animation;
        @include z-index("floor");
        margin-top: 10px;
        position: absolute;
        bottom: -10px;
        opacity: 0;

        &--message {
            bottom: -20px;
            opacity: 1;

            @include for-small-tablet {
                bottom: -35px;
            }
        }

        &--error {
            margin: 0px;

            &--active {
                bottom: -20px;
                opacity: 1;
            }

            span {
                color: var(--danger) !important;
            }
        }
    }
}
