@import "./../utilities/utilities";

.ci-loader-container {
    @include center;
    position: relative;
    width: 100%;
    height: 100%;

    .ci-loader {
        border: 2px solid white;
        border-radius: 50%;
        border-top: .5px solid transparent;
        width: 15px;
        height: 15px;
        -webkit-animation: spin .7s linear infinite; /* Safari */
        animation: spin .7s linear infinite;
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
