@import "./../utilities/utilities";

.ci-table {
    table {
        width: 100%;
        border-collapse: collapse;

        th {
            font-family: var(--font-family--light);
            text-transform: uppercase;
            color: var(--emphasis);
        }

        td,
        th {
            padding: 4px;
            font-size: 14px;
            text-align: left;
            transition: all $animation !important;

            &.ci-table-align {
                &-left {
                    text-align: left;
                }
                &-right {
                    text-align: right;
                }
            }

            &.ci-table-empty {
                text-align: center;
                font-style: italic;
                opacity: 0.4;
                font-size: 0.875rem;
            }
        }

        tr {
            transition: all $animation !important;
            &:nth-child(even) {
                background-color: rgba(var(--rgb), 0.3);
            }
        }
    }

    &-loading {
        min-height: 150px;
    }

    &-footer {
        @include between;
        margin-top: calc(2 * #{$distance});

        &-count {
            color: var(--emphasis);
        }
    }

    @include for-small-tablet {
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr,
        thead th {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        td {
            border-bottom: 1px solid rgba(var(--rgb), 0.7);
            position: relative;
            padding-top: 9px !important;
            padding-left: 50% !important;
            min-height: 32px;
            word-break: break-all;

            &:before {
                position: absolute;
                top: 0rem;
                left: 4px;
                width: 45%;
                padding-top: 9px !important;
                padding-right: 10px;
                content: attr(data-header);
                text-transform: uppercase;
                font-family: var(--font-family--light);
                color: var(--emphasis);
            }

            &.ci-table-empty {
                padding-left: 0px !important;
            }
        }
    }
}
