// COLOR

.lz-color {
    color: var(--color) !important;
}
.lz-color-brand {
    color: var(--brand) !important;
}
.lz-color-accent {
    color: var(--accent) !important;
}
.lz-color-red {
    color: var(--danger) !important;
}
.lz-color-green {
    color: var(--success) !important;
}
.lz-color-yellow {
    color: var(--warning) !important;
}
.lz-color-blue {
    color: var(--info) !important;
}
.lz-color-white {
    color: #fff !important;
}
.lz-color-text {
    color: var(--text) !important;
}
.lz-color-emphasis {
    color: var(--emphasis) !important;
}
// BACKGROUND
.lz-background-brand {
    background: var(--brand) !important;
}
.lz-background-accent {
    background: var(--accent) !important;
}
.lz-background-red {
    background: var(--danger) !important;
}
.lz-background-green {
    background: var(--success) !important;
}
.lz-background-yellow {
    background: var(--warning) !important;
}
.lz-background-blue {
    background: var(--info) !important;
}
.lz-background-text {
    background: var(--text) !important;
}
.lz-background-emphasis {
    background: var(--emphasis) !important;
}
.lz-background-emphasis-opacity {
    background: var(--emphasis--opacity) !important;
}
.lz-background {
    background: var(--color) !important;
}