// COLOR

.ci-color {
    color: var(--mode) !important;
}
.ci-color-brand {
    color: var(--brand) !important;
}
.ci-color-accent {
    color: var(--accent) !important;
}
.ci-color-red {
    color: var(--danger) !important;
}
.ci-color-green {
    color: var(--success) !important;
}
.ci-color-yellow {
    color: var(--warning) !important;
}
.ci-color-blue {
    color: var(--info) !important;
}
.ci-color-white {
    color: #fff !important;
}
.ci-color-text {
    color: var(--text) !important;
}
.ci-color-emphasis {
    color: var(--emphasis) !important;
}
// BACKGROUND
.ci-background-brand {
    background: var(--brand) !important;
}
.ci-background-accent {
    background: var(--accent) !important;
}
.ci-background-red {
    background: var(--danger) !important;
}
.ci-background-green {
    background: var(--success) !important;
}
.ci-background-yellow {
    background: var(--warning) !important;
}
.ci-background-blue {
    background: var(--info) !important;
}
.ci-background-text {
    background: var(--text) !important;
}
.ci-background-emphasis {
    background: var(--emphasis) !important;
}
.ci-background-emphasis-opacity {
    background: var(--emphasis--opacity) !important;
}
.ci-background {
    background: var(--mode) !important;
}