@import "./../utilities/utilities";

.ci-display-small-mobile {
    &-show {
        @include for-small-mobile {
            display: initial !important;
        }
    }

    &-hide {
        @include for-small-mobile {
            display: none !important;
        }
    }
}

.ci-display-mobile {
    &-show {
        @include for-mobile {
            display: initial !important;
        }
    }

    &-hide {
        @include for-mobile {
            display: none !important;
        }
    }
}

.ci-display-small-tablet {
    &-show {
        @include for-small-tablet {
            display: initial !important;
        }
    }

    &-hide {
        @include for-small-tablet {
            display: none !important;
        }
    }
}

.ci-display-tablet {
    &-show {
        @include for-tablet {
            display: initial !important;
        }
    }

    &-hide {
        @include for-tablet {
            display: none !important;
        }
    }
}

.ci-display-small-desktop {
    &-show {
        @include for-small-desktop {
            display: initial !important;
        }
    }

    &-hide {
        @include for-small-desktop {
            display: none !important;
        }
    }
}

.ci-display-desktop {
    &-show {
        @include for-desktop {
            display: initial !important;
        }
    }

    &-hide {
        @include for-desktop {
            display: none !important;
        }
    }
}

.ci-display-big-desktop {
    &-show {
        @include for-big-desktop {
            display: initial !important;
        }
    }

    &-hide {
        @include for-big-desktop {
            display: none !important;
        }
    }
}

// FLEX
.ci-display-flex-center {
    @include center;
}

.ci-display-flex-end {
    @include end;
}

.ci-display-flex-start {
    @include start;
}

.ci-display-flex-between {
    @include between;
}

// JUSTIFY-CONTENT
.ci-justify-baseline {
    justify-content: baseline;
}

.ci-justify-flex-end {
    justify-content: flex-end;
}

.ci-justify-flex-start {
    justify-content: flex-start;
}

.ci-justify-center {
    justify-content: center;
}

// ALIGN-ITEMS
.ci-align-items-baseline {
    align-items: baseline;
}

.ci-align-items-flex-end {
    align-items: flex-end;
}

.ci-align-items-flex-start {
    align-items: flex-start;
}

// BLOCK

@include for-tablet {
    .ci-display-block-md {
        display: block;
    }
}

@include for-mobile {
    .ci-display-block-sm {
        display: block;
    }
}
