@import "./../utilities/utilities";

.ci-anchor-to-top {
    position: absolute;
    top: -100vh;
}

.ci-anchor-to-position {
    position: absolute;
    top: -10px;
}

.ci-shadow {
    box-shadow: $box-shadow;
}