@import "./../utilities/utilities";

.lz-anchor-to-top {
    position: absolute;
    top: -100vh;
}

.lz-anchor-to-position {
    position: absolute;
    top: -10px;
}

.lz-shadow {
    box-shadow: $box-shadow;
}