@import './../utilities/utilities';

.ci-margin {
    margin: $distance;

    &--2x {
        margin: calc(2 * #{$distance});
    }
}

.ci-margin-right {
    margin-right: $distance;

    &--2x {
        margin-right: calc(2 * #{$distance});
    }
}

.ci-margin-left {
    margin-left: $distance;

    &--2x {
        margin-left: calc(2 * #{$distance});
    }
}

.ci-margin-top {
    margin-top: $distance;

    &--2x {
        margin-top: calc(2 * #{$distance});
    }
}

.ci-margin-bottom {
    margin-bottom: $distance;

    &--2x {
        margin-bottom: calc(2 * #{$distance});
    }
}