@import "./../utilities/utilities";

.ci-padding {
    padding: $distance;

    &--2x {
        padding: calc(2 * #{$distance});
    }
}

.ci-padding-right {
    padding-right: $distance;
}

.ci-padding-left {
    padding-left: $distance;
}

.ci-padding-top {
    padding-top: $distance;

    &--2x {
        padding-top: calc(2 * #{$distance});
    }
}

.ci-padding-bottom {
    padding-bottom: $distance;
}
