@import "./../utilities/utilities";

.ci-padding {
    padding: $distance !important;

    &--2x {
        padding: calc(2 * #{$distance}) !important;
    }
}

.ci-padding-right {
    padding-right: $distance !important;
}

.ci-padding-left {
    padding-left: $distance !important;
}

.ci-padding-top {
    padding-top: $distance !important;

    &--2x {
        padding-top: calc(2 * #{$distance}) !important;
    }
}

.ci-padding-bottom {
    padding-bottom: $distance !important;
}
