@import "./../utilities/utilities";

.ci-title-page {
    font-family: $font-semi-bold;
    color: var(--text);
    font-size: $font-x-large;
}

.ci-text {
    color: var(--text);

    &--type {
        font-family: var(--font-family);

        &--super-title {
            font-size: 28px;

            @include for-small-tablet {
                font-size: 18px;
            }
        }

        &--title {
            font-size: 22px;
        }

        &--subtitle {
            font-size: 18px;
            font-family: var(--font-family--light);

            @include for-small-tablet {
                font-size: 14px;
            }
        }
    }

    &--color {
        &-brand {
            color: var(--brand);
        }

        &-accent {
            color: var(--accent);
        }

        &-spotlight {
            color: var(--spotlight);
        }

        &-red {
            color: var(--danger);
        }

        &-green {
            color: var(--success);
        }

        &-blue {
            color: var(--info);
        }

        &-link {
            color: var(--link);
        }

        &-disabled {
            color: var(--text--disabled);
        }

        &-mode {
            color: var(--mode);
        }
    }

    &--align {
        &-center {
            text-align: center;
        }
        &-left {
            text-align: left;
        }
        &-right {
            text-align: right;
        }
    }

    &--weight {
        &-light {
            font-family: var(--font-family--light);
        }

        &-bold {
            font-family: var(--font-family--bold);
        }
    }

    &--decorator {
        &-line-through {
            text-decoration: line-through;
        }
        &-italic {
            font-style: italic;
        }
    }
}

.ci-text-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ci-link {
    color: var(--link);
    text-decoration: none;
}
