@import "./../utilities/utilities";

.lz-title-page {
    font-family: $font-semi-bold;
    color: var(--text);
    font-size: $font-x-large;
}

.lz-text {
    &--type {
        font-family: $font-regular;
        color: var(--text);

        &--super-title {
            font-size: 28px;

            @include for-small-tablet {
                font-size: 18px;
            }
        }

        &--title {
            font-size: 22px;
        }

        &--subtitle {
            font-size: 18px;
            font-family: $font-light;

            @include for-small-tablet {
                font-size: 14px;
            }
        }
    }

    &--color {
        &-brand {
            color: var(--brand);
        }

        &-accent {
            color: var(--accent);
        }

        &-red {
            color: var(--danger);
        }

        &-green {
            color: var(--success);
        }

        &-blue {
            color: var(--info);
        }

        &-link {
            color: var(--link);
        }

        &-disabled {
            color: var(--text--disabled);
        }

        &-text {
            color: var(--text);
        }
    }

    &--align {
        &-center {
            text-align: center;
        }
        &-left {
            text-align: left;
        }
        &-right {
            text-align: right;
        }
    }

    &--weight {
        &-light {
            font-family: $font-light;
        }

        &-bold {
            font-family: $font-bold;
        }
    }

    &--decorator {
        &-line-through {
            text-decoration: line-through;
        }
        &-italic {
            font-style: italic;
        }
    }
}

.lz-text-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lz-link {
    color: var(--link);
    text-decoration: none;
}
