:root {
    // base
    --color-dark: #272829;
    --background-dark: #1e1f20;
    --background--disabled-dark: #555657;
    --emphasis-dark: #717579;
    --emphasis--opacity-dark: #717579dd;
    --text-dark: #c4c6c8;
    --text--disabled-dark: #c4c6c8;
    --rgb-dark: 59, 59, 59;

    // State
    --red-dark: #f44336;
    --red--opacity-dark: #f4433657;
    --green-dark: #66bb6a;
    --green--opacity-dark: #66bb6a42;
    --yellow-dark: #f49f5c;
    --yellow--opacity-dark: #f49e5c3d;
    --blue-dark: #1ba8f1;
    --blue--opacity-dark: #1baaf14b;

    // Support
    --news-dark: #f297a0;
    --info-dark: #9bd0c0;
    --brand-dark: #23af93;
    --contrast-dark: #3f7797;
    
    // Images
    --empty-dark: url('./../assets/svg/empty/empty-dark.svg')
}
