:root {
    --brand: var(--brand-light);
    --contrast: var(--contrast-light);

    --color: var(--color-light);
    --background: var(--background-light);
    --background--disabled: var(--background--disabled-light);
    --emphasis: var(--emphasis-light);
    --emphasis--opacity: var(--emphasis--opacity-light);
    --text: var(--text-light);
    --text--disabled: var(--text--disabled-light);
    --rgb: var(--rgb-light);
    
    // State
    --red: var(--red-light);
    --red--opacity: var(--red--opacity-light);
    --red-rgb: var(--red-rgb);

    --green: var(--green-light);
    --green--opacity: var(--green--opacity-light);
    --green-rgb: var(--green-rgb);

    --yellow: var(--yellow-light);
    --yellow--opacity: var(--yellow--opacity-light);
    --yellow-rgb: var(--yellow-rgb);

    --blue: var(--blue-light);
    --blue--opacity: var(--blue--opacity-light);
    --blue-rgb: var(--blue-rgb);
    
    // Social
    --facebook: #3B5998;

    // Utils
    --link: #1BA8F1;

    // Support
    --info: var(--info-light);
    --info-opacity: #9BD0C0;
    --news: var(--news-light);
    --news-opacity: #ed65503f;

    // Images
    --empty: var(--empty-light);
    --empty-chart: var(--empty-chart-light);
}