:root {
    --brand: #23af93;
    --contrast: #294c60;

    --color: var(--color-light);
    --background: var(--background-light);
    --background--disabled: var(--text--background-light);
    --emphasis: var(--emphasis-light);
    --emphasis--opacity: var(--emphasis-light);
    --text: var(--text-light);
    --text--disabled: var(--text--disabled-light);
    --rgb: var(--rgb-light);

    // Light
    --color-light: #ffffff;
    --background-light: #f4f7f9;
    --background--disabled-light: #edf0f4;
    --emphasis-light: #a7a9ab;
    --emphasis-light--opacity: #a7a9ab99;
    --text-light: #303438;
    --text--disabled-light: #c4c6c8;
    --rgb-light: 255, 255, 255;

    // Dark
    --color-dark: #272829;
    --background-dark: #1e1f20;
    --background--disabled-dark: #555657;
    --emphasis-dark: #717579;
    --emphasis-dark--opacity: #717579dd;
    --text-dark: #c4c6c8;
    --text--disabled-dark: #c4c6c8;
    --rgb-dark: 0, 0, 0;

    // State
    --red: #f44336;
    --green: #66bb6a;
    --yellow: #f9a825;
    --blue: #1ba8f1;

    // Social
    --facebook: #3B5998;

    // Utils
    --link: #1BA8F1;
}